@import url(https://fonts.googleapis.com/css?family=Lobster);

.HeaderContent{
   padding-left:0;
   padding-right:0;
}
.siteInformation
{
    background-color: #26211d;
    height : 75px;
    padding: 7px 0px 0px 0px;
}
.row
{
    margin-right: 0px;
    margin-left: 0px;
}
.logo{
    color: #fff;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    letter-spacing:2px;
}
.logo a
{
    color: #fff;
}
.logo a:hover,
.logo a:focus
{
    text-decoration: none;
    color: #ffffff;
}
ul{
    list-style: none;
}
.socialIcon ul li {
    display: inline;
    font-size: 20px;
    padding-left:20px;
    
}
.socialIcon
{
    padding-top:16px;
}
.socialIcon ul li a{
    color: #4d4641;
    transition: color 0.5s ease;
}
.socialIcon ul li a:hover{
    color: #ffffff;


}
.volunteerBtn{
    border: 1px solid #4d4641;
    height: 40px;
    padding-top: 8px;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.5s ease;
}
.col-md-3 a{
    color : #ffffff;
}
.col-md-3 a:hover{
    /*color : #ecc731;*/
    text-decoration: none;
}
.volunteerBtn:hover
{background-color : #ecc731;}
.bemcomeVolunteerdiv
{
   padding-right: 0; 
   padding-left: 0; 
   margin-top: 6px;
   width: 260px;
}
/*
    Media query for Header
/**/
/*@media only screen and (max-width : 999px){
    .siteInformation
{#e0bb24
    background-color: #26211d;
    height : 75px;
    padding: 0;
}
    .socialIcon ul li {
    display: inline;
    font-size: 14px;
    padding-left:0;
    
}
    .volunteerBtn{
    border: none;
    height: 40px;
    width: 100%;
    padding-top: 8px;
    text-transform: uppercase;
    margin-top: 8px;
    font-weight: 400;
    transition: background-color 0.5s ease;
    
}
}*/
/*
    Add navbar style
*/
nav
{
    height: 50px;
    background-color: #ecc731;
    width: 100%;
}
.active
{
    background-color: #e0bb24;
    font-weight : 600;
    letter-spacing:1px;
}
.navbar-nav li a,
.navbar-nav li a:focus
{
    color : #ffffff;
}
.navbar-nav li a:hover,
.nav li a:focus{
    background-color : #e0bb24
}
.navbar-form{
    margin-top : 0;
}
.searchBox .form-control
{
   height: 50px;
   background-color: #ecc731;
   border:none;
}
.SearchBtn{
  height: 48px;
  width: 50px;
  border: none;
  font-size: 30px;
}